<nav class="navbar navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav" style="padding:10px; float: left">
      <a class="nav-item nav-link active" [routerLink]="['/viewall']">View All</a>
    </div>
    <div class="navbar-nav" style="padding:10px; float: left">
      <a class="nav-item nav-link active" [routerLink]="['/create']">Create</a>
    </div>
    <div class="navbar-nav" style="padding:10px; float: left">
      <a class="nav-item nav-link active" [routerLink]="['/category']">Category</a>
    </div>
    <div class="navbar-nav" style="padding:10px">
      <a class="nav-item nav-link active" [routerLink]="['/track']">Track</a>
    </div>
  </div>
</nav>