<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item" style="display: inline; padding: 10px">
      <a class="nav-link active" routerLink="/" href="#">View All</a>
    </li>
    <li class="nav-item" style="display: inline; padding: 10px">
      <a class="nav-link" routerLink="/create" href="#">Create</a>
    </li>
    <li class="nav-item" style="display: inline; padding: 10px">
      <a class="nav-link" routerLink="/category" href="#">Category</a>
    </li>
    <li class="nav-item" style="display: inline; padding: 10px">
      <a class="nav-link" routerLink="/track" href="#">Track</a>
    </li>
  </ul>
</div>